@import "./assets.css";

/* Button with text */
.text-button {
    border-radius: 10px;
    border-color: transparent;

    background-color: var(--main-green);
    color:white;
}

.text-button:hover {
    cursor: pointer;
    color: black;
    background-color: var(--secondary-green);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.text-button:active {
    transform: scale(0.98);
}

.text-large {
    width: 205px;
    height: 55px;

    font-size: 20px;
}

.text-small {
    width: 70px;
    height: 30px;
    
    font-size: 15px;
    float: right;
}

/* Icon buttons */
.iconbtn-container{
    border: none;
    cursor: pointer;
}

.iconbtn {
    float:left;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
    margin-left: 10px;
    border-radius: 10px;

    background-color: transparent;
    border-color: transparent;
}

.iconbtn-large {
    width: 40px;
    height: 40px;

    font-size: 30px;
}

.iconbtn-small {
    width: 30px;
    height: 30px;

    font-size: 20px;
}

.white {
    color: white;   /* Make sure icons are white */
}

.black {
    color: black;   /* Make sure icons are black */
}


.iconbtn:hover, .iconbtn:focus {
    cursor: pointer;
    background-color: var(--secondary-green);
}