@import "./assets.css";

/* Button with text */
.text-button {
    width: 205px;
    height: 55px;
    border-radius: 10px;
    border-color: transparent;

    background-color: var(--main-green);
    color:white;
    font-size: 20px;
}

.text-button:hover {
    cursor: pointer;
    color: black;
    background-color: var(--secondary-green);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.text-button:active {
    transform: scale(0.98);
}

/* Icon buttons */
.iconbtn-container{
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.iconbtn {
    width: 40px;
    height: 40px;

    float:left;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
    margin-left: 10px;
    border-radius: 10px;

    background-color: transparent;
    border-color: transparent;
}

.iconbtn:hover, .iconbtn:focus {
    cursor: pointer;
    background-color: var(--secondary-green);
}