:root {
    /*Colour Palette*/
    --main-green: #2A3E2B;
    --secondary-green: #6E8E6E;
    --main-grey: #D9D9D9;
    --borders-colour: #575756;
}

.header {
	grid-area: header;
	height: 59px;
	background: var(--main-green);
}

.main {
    grid-area: main;
    background-color: var(--main-grey);
    min-height: 100vh;
}