{% extends "base.html" %}
{% load static %}

{% block title %}Add a new Book{% endblock %}

{% block container %}list{% endblock %}

{% block content %}
<div class="main">
    <div class="text-container">
        {% if book %}
            <h1>Edit your book</h1>
        {% else %}
            <h1>Add a New Book</h1>
        {% endif %}

        <form method="POST" id="newBookForm" data-genre-url="{% url 'ajax_load_genres' %}">
            {% csrf_token %}
            {% for field in bookform %}
                <div class="field-container">
                    {{ field.errors }}
                    {{ field.label_tag }} <br> 

                    {% if book and field.name == "booktype" %}
                        {{ book.booktype }}
                    {% elif book and field.name == "genre" %}
                        {{ book.genre.genre }}
                    {% elif not book and field.name == "genre"%}
                        <div class="genre-container">
                        {{ field }}
                        <button class="iconbtn iconbtn-small genre" onclick="window.location.href='/new-genre';">
                            <i class="fa white fa-plus"></i>
                        </button>
                        </div>
                    {% elif not book and field.name == "series"%}
                        <div class="genre-container">
                        {{ field }}
                        <button class="iconbtn iconbtn-small genre" onclick="window.location.href='/new-series';">
                            <i class="fa white fa-plus"></i>
                        </button>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <button onclick="javascript:history.back();" class="text-button text-large cancel-button">Cancel</button>
            <button type="submit" class="text-button text-large submit-button">Submit</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}