{% extends "base.html" %}
{% load static %}

{% block title %}Add a new Book{% endblock %}

{% block container %}list{% endblock %}

{% block content %}
<div class="main">
    <div class="text-container">
        <h1>Add a New Genre</h1>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-container">
                    {{ field.errors }}
                    {{ field.label_tag }} <br> {{ field }}
                </div>
            {% endfor %}
            <button onclick="javascript:history.back();" class="text-button text-large cancel-button">Cancel</button>
            <button type="submit" class="text-button text-large submit-button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}