@import "./assets/assets.css";

/* Dropdown menu */
.fa {
    color: white;   /* Make sure icons are white */
    font-size: 30px;
}

.dropdown-content {
    visibility: hidden;
}

.show {visibility: visible;}

.dropdown-content ul {
    position: absolute;
    top: 59px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
  
    list-style: none;
}

.dropdown-content li {
    display: inline;
    position: relative;
    padding: 16px 0;
    background-color: var(--main-grey);
}

.dropdown-content li a {color: black;}

.dropdown-content li:hover {
    cursor: pointer;
    background-color: var(--secondary-green);
}

.dropdown-content li:last-of-type a {color: white;}

.dropdown-content li:last-of-type {background: var(--main-green);}

.dropdown-content li:last-of-type:hover {background-color: var(--secondary-green);}

.dropdown-content li:last-of-type:hover > a {color: black;}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    position: static;
  
    font-family: 'Recursive', sans-serif;
}

.dropdown-content ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: -8px;
    left: 0;
    display: none;
}

.dropdown-content ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
}

.dropdown-content ul li ul li {
    clear: both;
    display: block;
}


/* Search bar */
.search {
    border: 1px solid black;
    border-radius: 10px;

    width: 25%;
    min-width: 200px;
    height: 25px;

    float: left;
    margin-left: 20px;
    -ms-transform: translateY(50%);
    transform: translateY(50%);

    background-color: white;
}

.search:hover, .search:focus {
    border: 1.5px solid black;
 }

 .search input {
    width: 90%;
    height: 25px;
    border-radius: 10px;
    border: transparent;
 }
.search button {
    position: absolute;
    background: transparent;
    border: transparent;
}