.action {
    float: right;
}

.edit {
    background-color: var(--main-green);
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.list-container {
    position: absolute;
    max-height: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
    display:block;

    border: 1px solid var(--main-grey);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    width: 85%;

}

.list-table{
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
    border-collapse: collapse;
}

.list-table tr {
    height: 50px;
}

.list-table th {
    font-weight: bold;
    font-size: 20px;
}

.list-table th,
.list-table td {
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;

    border-collapse: collapse;
    text-align: left;
}

.list-no-items {
    .list-table td;
    overflow: visible !important;
}

.hidden-info {
    visibility: hidden;
    display: None;
}

.show-info {
    visibility: visible;
    display: table-row;
}

.header-row,
.collapsed-row{
    border:0;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.expanded-row {
    border: None;
}

.long-text {
    overflow-x: auto !important;
    text-overflow: unset !important;
    white-space: initial;
    font-size: 15px;
}

.tags {
    font-size: 15px;
    color: var(--accent-blue);
}

.unavailable {
    font-size: 15px;
    color: var(--accent-red);
}

.sublist {
    background-color: var(--main-grey);
}
