@import "./assets/assets.css";
@import "./assets/buttons.css";

.new-book {
	
}

.form-title{
	font-weight: bold;
	font-size: 40px;
}

.cancel-button {
	.text-button;

	position: fixed;
	bottom: 60px;
	left: 100px;
}

.submit-button {
	.text-button;

	position: fixed;
	bottom: 60px;
	right: 100px;
}