<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>

<div class="container_{% block container %}{% endblock %}">
    {% include "header.html" %}
    {% block content %}{% endblock %}
</div>
<script src="{% static 'js/header.js' %}"></script>
</body>
</html>