<header class="header">
    <div class="iconbtn-container">
        <button onclick="window.location.href='/';" class="iconbtn iconbtn-large"><i class="fa white fa-home"></i></button>
    </div>
    <div class="iconbtn-container">
        <button onclick="dropdown()" class="iconbtn iconbtn-large"><i class="fa white fa-bars"></i></button>
        <div id="menu" class="dropdown-content">
            <ul>
                {% for booktype in booktypelist %}
                <li><a href="/{{ booktype.url }}">{{ booktype }}</a>
                    <ul>
                        {% for genre in booktype.genre_set.all %}
                        {% if genre.url != "other" %}
                        <li><a href="/{{ booktype.url }}/{{ genre.url }}">{{ genre.genre }}</a></li>
                        {% endif %}
                        {% endfor %}
                        <li><a href="/{{ booktype.url }}/other">Other</a></li>
                    </ul>
                </li>
                {% endfor %}
                <li><a href="all">All books</a></li>
            </ul>
        </div>
    </div>

    <div>
        <button class="text-button text-small light centered" onclick="window.location.href='/user/{{ user.first_name }}';">My books</button>
    </div>
</header>