{% extends "base.html" %}

{% block title %}Swag Library{% endblock %}

{% block container %}home{% endblock %}

{% block content %}
    <div class="image"></div>
    <div class="main">
        <div class="text-container">
            <h1>Welcome to the Library</h1>
            <p>Click below to add a book, or browse the library via the menu above.</p>
            <p>Website by Rayen, art by Honey.</p>
            <button class="text-button text-large add-book" style="bottom: 60px;" onclick="window.location.href='/new-book';">Add a book</button>
        </div>
    </div>
{% endblock %}