<tr class="hidden-info collapsed-row" id="actions_{{ item.id }}">

    <!-- Book owner actions: mark book as returned, make book unavailable, edit book -->
    {% if user.first_name == item.get_owner_display %}
        <td colspan="2"></td>
        {% if item.get_status_display == "On Loan" %}
            <td>
                <form method="POST" action="{% url 'borrow' %}">
                    {% csrf_token %}
                    <fieldset  class="hidden-info">
                        <input type="radio" name="book_id" value="{{ item.id }}" checked="checked">
                    </fieldset>
                    <button class="text-button text-small" type="submit" action="{% url 'borrow'%}">Returned</button>
                </form>
            </td>
        {% else %}
            <td></td>
        {% endif %}

        <td>
        {% if item.get_status_display == "Unavailable" %}
            <form method="POST" action="{% url 'availability' %}">
                {% csrf_token %}
                    <fieldset  class="hidden-info">
                        <input type="radio" name="book_id" value="{{ item.id }}" checked="checked">
                    </fieldset>
                <button class="text-button text-small" type="submit">Make available</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'availability' %}">
                {% csrf_token %}
                    <fieldset  class="hidden-info">
                        <input type="radio" name="book_id" value="{{ item.id }}" checked="checked">
                    </fieldset>
                <button class="text-button text-small" type="submit">Make unavailable</button>
            </form>
        {% endif %}
        </td>

        <td>
            <button class="iconbtn iconbtn-small action edit" onclick="window.location.href='/book/edit-id:{{ item.id }}';">
                <i class="fa white fa-pencil"></i>
            </button>
        </td>


    <!-- Book non-owner actions: borrow book if available, mark book as returned -->
    {% else %}
        <td colspan="3"></td>
        
            {% if item.get_status_display == "Available" %}
            <td></td>
            <td>
                <form method="POST" action="{% url 'borrow' %}">
                    {% csrf_token %}
                    <fieldset  class="hidden-info">
                        <input type="radio" name="book_id" value="{{ item.id }}" checked="checked">
                    </fieldset>
                    <button class="text-button text-small" type="submit" action="{% url 'borrow'%}">Borrow</button>
                </form>
            </td>
            {% elif item.get_status_display == "On Loan" %}
            <td></td>
            <td>
                <form method="POST" action="{% url 'borrow' %}">
                    {% csrf_token %}
                    <fieldset  class="hidden-info">
                        <input type="radio" name="book_id" value="{{ item.id }}" checked="checked">
                    </fieldset>
                    <button class="text-button text-small" type="submit" action="{% url 'borrow'%}">Return</button>
                </form>
            </td>
            {% elif item.get_status_display == "Unavailable" %}
                <td colspan="2"><p class="unavailable">This book cannot be borrowed.</p></td>
            {% else %}
                <td colspan="2"></td>
            {%endif%}
    {% endif %}
</tr>