{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block container %}list{% endblock %}

{% block content %}
    <div class="main">
        <div class="text-container">
            <h1>{{ title }}</h1>
            <p>{{ intro }}</p>
            <table class="list-table">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
                {% if list %}
                    {% for item in list %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>{{ item.author }}</td>
                            <td>{{ item.get_status_display }}</td>
                            <td>{{ item.get_owner_display }}</td>
                            <td>Actions</td>
                        </tr>
                    {% endfor %}
                {% else %}
                   <tr>
                     <td class="list-no-items">No items have been added for this section yet :(</td>
                   </tr>
                {% endif %}
        </table>
        <div>
            <button class="text-button" style="position: fixed; bottom: 60px;" onclick="window.location.href='/new-book';">Add a book</button>
        </div>
        </div>
    </div>
{% endblock %}