{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block container %}list{% endblock %}

{% load lib_tags %}
{% block content %}
    <div class="main">
        <div class="text-container">
            <h1>{{ title }}</h1>
            <p>{{ intro }}</p>
            <div class="list-container">
            <table class="list-table">
                <tr class="header-row">
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
                {% if list %}
                    {% for item in list %}
                        {% if item|get_value:'isSeries' == False %}
                            {% for book in item|get_value:'seriesBooks' %} {% include "book_item.html" %} {% endfor %}
                        {% else %}
                            <tr id="row_{{ item|get_value:'name' }}" class="collapsed-row">
                                <td>{{ item|get_value:'name' }}</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    <button class="iconbtn iconbtn-small action" expanded="false" id="{{ book.id }}" onclick="toggle(this.id)"><i class="fa black fa-angle-up" id="icon_{{ book.id }}"></i></button>
                                </td>
                            </tr>
                            <tr class="hidden-info" id="books_{{ item|get_value:'name' }}">
                                {% for book in item|get_value:'seriesBooks' %} {% include "book_item.html" %} {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                   <tr>
                     <td class="list-no-items">No items have been added for this section yet :(</td>
                   </tr>
                {% endif %}
        </table>
        </div>
        <button class="text-button text-large add-book" onclick="window.location.href='/book';">Add a book</button>
        </div>
    </div>
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}