{% extends "base.html" %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/new_book_form.css' %}">

{% block title %}Add a new Book{% endblock %}

{% block container %}list{% endblock %}

{% block content %}
<div class="main">
        <div class="text-container">
            <form method="POST" class="new-book" id="newBookForm" data-genre-url="{% url 'ajax_load_genres' %}">
                <fieldset>
                    <legend>Form</legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                </fieldset>
                <button onclick="window.location.href='{% url 'home' %}';" class="text-button" style="position: fixed; bottom: 60px;">Cancel</button>
                <button type="submit" class="text-button" style="position: fixed; bottom: 60px; right: 100px;" id="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}